// import mixin
@import "../utilidades/mixin";
// import variables
@import "../utilidades/variables";

/* Estilos Contacto */

.banner-section{
    position: relative;
    widows: 100%;
    height: calc(108vh - 3rem);
    background-image:url(../img/img-fondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
}

.capa {
    padding: 10rem;  
}

.capa h1{
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 700;
}

.capa p{
    color: $color-gris-claro;
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 0.6rem;
}

